In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("iris.csv")

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df = df.drop(['Id'] , axis = 1)

In [8]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
df.info() # finding the information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df.describe() # describing everything

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [11]:
df.isnull().sum() # finding the null values

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [12]:
# checking values for the dependent variables

In [13]:
df['Species'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X = df.iloc[:, :-1]
y = df.iloc[: , -1]

In [16]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [17]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [19]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.33 , random_state = 42)

In [20]:
X_train.head() # chekcing X-train values

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
96             5.7           2.9            4.2           1.3
105            7.6           3.0            6.6           2.1
66             5.6           3.0            4.5           1.5
0              5.1           3.5            1.4           0.2
122            7.7           2.8            6.7           2.0

In [21]:
len(X_train) , len(X_test) , len(y_train) , len(y_test)

(100, 50, 100, 50)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
reg = LogisticRegression()

In [24]:
reg.fit(X_train , y_train)

LogisticRegression()

In [25]:
y_train_pred = reg.predict(X_train)

In [27]:
from sklearn.metrics import accuracy_score , classification_report , confusion_matrix

In [28]:
accuracy_score(y_train , y_train_pred)

0.96

In [29]:
y_test_pred = reg.predict(X_test)

In [30]:
accuracy_score(y_test , y_test_pred)

1.0

In [31]:
reg.score(X_train, y_train)

0.96

In [32]:
reg.score(X_test , y_test)

1.0

In [34]:
df.head(1)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa

In [41]:
a = reg.predict([[5.1 , 3.5 , 1.4 , 0.2]])[0]

In [42]:
a

'Iris-setosa'

In [44]:
import pickle

In [46]:
with open('iris.pkl' , 'wb') as f:
    pickle.dump(reg , f)

In [47]:
model = pickle.load(open('iris.pkl' , 'rb'))

In [49]:
model.predict([[5.1 , 3.5 , 1.4 , 0.2]])

array(['Iris-setosa'], dtype=object)

In [52]:
model.predict([[5 , 5.0 , 3.6 , 1.4 ]])[0]

'Iris-setosa'